
@{
    ViewBag.Title = "Thông tin sản phẩm";
}

<div class="panel panel-default">
    <div class="panel-heading">Product details</div>
    <div class="panel-body">
        Product details: @ViewBag.maSP
    </div>
</div>

