@using ShopRuou.Models

@model List<loaiSP>

@foreach (loaiSP c in Model)
{
<p><a href="@Url.Action("SanPhamDM","Product",new{id = c.maloaiSP})"><i class="fa fa-angle-right"></i> @c.tenloaiSP </a></p>
}
