@using ShopRuou.Models

@model List<nhasanxuat>

@foreach (nhasanxuat c in Model)
{
    <p><a href="@Url.Action("SanPhamNSX","Product",new{id = c.maNSX})"><i class="fa fa-angle-right"></i> @c.tenNSX </a></p>
}
